/**So I made sort of a theme pack of CSS to apply to all of my other, smaller, not as complete pages that still deserve some special treatment. Here it is:**/

/**Titles**/
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
    text-align: center;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-family: "Bradley Hand", Brush Script MT, cursive;
    color: red;
    text-align: center;
}

h4 {
    font-family: "Bradley Hand", Brush Script MT, cursive;
}

/**Smaller Text**/
label {
    font-family: "Bradley Hand", Brush Script MT, cursive;
}

p {
    font-family: "Bradley Hand", Brush Script MT, cursive;
}

ol {
    font-family: "Bradley Hand", Brush Script MT, cursive;
}

.special-h3 {
    color:black;
    text-align: left;
}